<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>校验器测试</title>
  <style>
    .btn{
      display: block;
      width: 160px;
      height: 40px;
      margin: 20px;
      line-height: 40px;
      text-align: center;
      outline: none;
      border: none;
      border-radius: 32px;
    }

    .btn-active {
      color: #fff;
      background: #fe7300;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="form-item-wrapper">
      <span>*</span>
      <label>姓名：</label>
      <input v-model="formData.name" />
    </div>
    <div class="form-item-wrapper">
      <span>*</span>
      <label>年龄(大于18)：</label>
      <input v-model="formData.age" />
    </div>
    <div class="form-item-wrapper">
      <span>*</span>
      <label>性别：</label>
      <input v-model="formData.sex" type="radio" name="sex" value="0" />男
      <input v-model="formData.sex" type="radio" name="sex" value="1" />女
    </div>
    <div class="form-item-wrapper">
      <span>*</span>
      <label>是否是学生：</label>
      <input v-model="formData.isStudent" type="radio" name="isStudent" value="1" />是
      <input v-model="formData.isStudent" type="radio" name="isStudent" value="2" />否
    </div>
    <div class="form-item-wrapper" v-if="formData.isStudent == 1">
      <span>*</span>
      <label>职业：</label>
      <input v-model="formData.job" />
    </div>
    <div class="form-item-wrapper" >
      <span>*</span>
      <label>请输入一个大于50小于100的金额：</label>
      <input v-model="formData.money" />
    </div>
    <button :class="isCorrect ? 'btn btn-active' : 'btn'" @click="handelClick">提交</button>
  </div>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="../dist/validator.min.js"></script>
  <script>
    window.onload = () => {
      var comName=new Vue({
        el:'#app',
        data:{
          formData: {
            name: '',
            age: '',
            sex: '',
            isStudent: '',
            job: '',
            money:''
          },
          errorMsg: ''
        },
        computed:{
          isCorrect(){
            const rules = [
              { field: 'name', name: '姓名', rules: 'isName' },
              { field: 'age', name: '年龄', rules: { '>': 18} },
              { field: 'sex', name: '性别' },
              { field: 'isStudent', name: '是否是学生' },
              { field: 'job', name: '职业', rules: 'isRequired', need: [{field: 'isStudent', rules: [{'==': 1}]}] },
              { field: 'money', name: '金额', rules: [{'>': 50}, {'<': 100}], tip: '请输入一个大于50小于100的金额' }
            ];

            const { res, msg } = validator.validate(this.formData, rules);
            this.errorMsg = msg;
            return res;
          }
        },
        methods: {
          handelClick(){
            alert(this.errorMsg);
          }
        }
      })
      // const formData = {
      //   name: '姓名',
      //   age: 18,
      //   sex: 0,
      //   text: 101
      // }
      // const rules = [
      //   // 缺少 name
      //   // { field: 'text'},

      //   // 缺少 field
      //   // { name: '测试'},

      //   // 缺少 field
      //   // { field: '', name: '测试'},

      //   // 缺少 name
      //   // { field: 'text', name: ''},

      //   // text='' => 【测试】格式有误
      //   // { field: 'text', name: '测试'}

      //   // text='测试' => true "success"
      //   // { field: 'text', name: '测试'}

      //   // text='测试' => true "success"
      //   // { field: 'text', name: '测试',  rules: ''},

      //   // text='' => 【测试】格式有误
      //   // { field: 'text', name: '测试',  rules: ''},

      //   // text='5' => 【测试】格式有误
      //   // { field: 'text', name: '测试',  rules: 'isName'},

      //   // text='5' => true "success"
      //   // { field: 'text', name: '测试',  rules: 'isMoney'},

      //   // text='5' =>  当前rules值不存在于校验器规则中
      //   // { field: 'text', name: '测试',  rules: 'isMax'},

      //   // text='5' => true "success"
      //   // { field: 'text', name: '测试',  rules: {'>': 2}},

      //   // text='5' => 【测试】格式有误
      //   // { field: 'text', name: '测试',  rules: {'<': 2}},

      //   // text='5' => true "success"
      //   // { field: 'text', name: '测试',  rules: {'==': 5}},

      //   // text='5' => 【测试】格式有误
      //   // { field: 'text', name: '测试',  rules: {'===': 5}},

      //   // text='5' =>  当前rules值不存在于校验器规则中
      //   // { field: 'text', name: '测试',  rules: {'====': 5}},

      //   // text=5 =>  false "【测试】格式有误"
      //   // { field: 'text', name: '测试',  rules: ['isName',{'>': 2}]},

      //   // text=5 =>  false "flag true"
      //   // { field: 'text', name: '测试',  rules: ['isMoney',{'>': 2}, {'<': 100}]},

      //   // text='5' =>  false "【测试】格式有误"
      //   // { field: 'text', name: '测试',  rules: [{'==': 5}]},

      //   // text='' => need校验规则必须为数组
      //   // { field: 'text', name: '测试',  need: ''},

      //   // text='' => true "success"
      //   // { field: 'text', name: '测试',  need: []},

      //   // text='' => 缺少 field
      //   // { field: 'text', name: '测试',  need: [{field: ''}]},

      //   // text='' => need中的每一项必须存在 rules
      //   // { field: 'text', name: '测试',  need: [{field: 'name'}]},

      //   // text='' => true "success"
      //   // { field: 'text', name: '测试',  need: [{field: 'name', rules: ''}]},

      //   // text='', name='名字' => need必须是一个数组，且不能为空
      //   // { field: 'text', name: '测试',  need: []},

      //   // text='', name='名字' => 缺少 field
      //   // { field: 'text', name: '测试',  need: [{field: ''}]},

      //   // text='', name='名字' => 【测试】格式有误
      //   // { field: 'text', name: '测试',  need: [{field: 'name'}]},

      //   // text='', name='名字' => 【测试】格式有误
      //   // { field: 'text', name: '测试',  need: [{field: 'name', rules: ''}]},

      //   // text='', name='名字' => 【测试】格式有误
      //   // { field: 'text', name: '测试',  need: [{field: 'name', rules: 'isName'}]},

      //    // text='', name='名字' => 当前rules值不存在于校验器规则中
      //   //  { field: 'text', name: '测试',  need: [{field: 'name', rules: 'isMax'}]},

      //   // text='', name='名字' => true "success"
      //   // { field: 'text', name: '测试',  need: [{field: 'name', rules: 'isMoney'}]},

      //    // text='', name='123' => true "success"
      //   //  { field: 'text', name: '测试',  need: [{field: 'name', rules: 'isName'}]},

      //    // text='测试', name='姓名'' => true "success"
      //   //  { field: 'text', name: '测试',  need: [{field: 'name', rules: 'isName'}]},

      //   // text='', name=''' => true "success"
      //   // { field: 'text', name: '测试', rules: 'isMoney',  need: [{field: 'name', rules: 'isName'}]},

      //    // text='', name='姓名' => 【测试】格式有误
      //    // { field: 'text', name: '测试', rules: 'isMoney',  need: [{field: 'name', rules: 'isName'}]},
        
      //    // text='5', name='姓名' => true "success"
      //   //  { field: 'text', name: '测试', rules: 'isMoney',  need: [{field: 'name', rules: 'isName'}]},

      //    { field: 'text', name: '测试', rules: ['isMoney',{'>': 2}, {'<': 100}],  need: [{field: 'age', rules: [{'>': 2}, {'<': 100}]}], tip: '梅甜甜'}
      // ]
      // console.log(validator);
      // const { res, msg } = validator.validate(formData, rules);
      // console.log(res, msg);
    }
  </script>
</body>
</html>